@charset "ISO-8859-1";


.navbar{
	background-color: #1a75ff;
	height: 50px;
	width: 100%;
}
#registerorlogin{
	border:none;
	background-color: #808080;
	width: 700px;
	height: 425px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.vl{
	position: absolute;
	background-color: white;
	width: 10px;
	height: 400px;
	margin-top: 50px;
	margin-left: 495px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#register{
	position: absolute;
	width: 680px;
	height: 400px;
	margin-top: 5px;
	margin-left: 5px;
}
#login{
	position: absolute;
	border: 2px solid white;
	width: 395px;
	height: 200px;
	margin-top: 150px;
	margin-left: 50px;
}
.input{
	width: 295px;
	height: 30px;
	margin-left: 50px;
	position: absolute;
}
.logininput{
	width: 295px;
	height: 30px;
	margin-left: 50px;
	position: absolute;
}