@charset "ISO-8859-1";



body{
	background-color: white;
}
#registerorlogin{
	border:none;
	background-color: #003366;
	width: 500px;
	height: 500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.vl{
	position: absolute;
	background-color: white;
	width: 10px;
	height: 400px;
	margin-top: 50px;
	margin-left: 495px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#register{
	position: absolute;
	border: 2px solid white;
	width: 395px;
	height: 400px;
	margin-top: 50px;
	margin-left: 50px;
}
#login{
	position: absolute;
	border: 2px solid white;
	width: 395px;
	height: 200px;
	margin-top: 150px;
	margin-left: 50px;
}
.input{
	width: 295px;
	height: 30px;
	margin-left: 50px;
	position: absolute;
}
.logininput{
	width: 295px;
	height: 30px;
	margin-left: 50px;
	position: absolute;
}