@charset "ISO-8859-1";

.navbar{
	background-color: #1a75ff;
	height: 50px;
	width: 100%;
}
.navbar1{
	font-family: "times new roman";
	font-size: 16px;
	background-color:white;
	height: 50px;
	color: black;
}

.dropbtn{
	height: 50px;
	border: none;
	background-color:inherit;
	color: black;
	width: 200px;	
	cursor: pointer;
}
.dropbtn:hover{
	color: #1a75ff;
}
.navbar a{
	float: right;
	text-decoration: none;
	color: white;
	padding: 14px 20px;
	text-align: center;
}
.navbar a:hover{
	text-decoration: none;
	color: white;
}
.slideshow-container{
	height: 300px;
	width: 100%;
	background-color: grey;
	position: relative;
}
.slides{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.slidemoversleft{
	position: absolute;
	left: 0;
	top: 105px;
	height: 90px;
	width: 50px;
	color: black;
	border:none;
	background-color:white;
}

.slidemoversright{
	position: absolute;
	right: 0;
	top: 105px;
	height: 90px;
	width: 50px;
	color: black;
	border:none;
	background-color: white;
}
.slidemoversleft:hover, .slidemoversright:hover{
	background-color: white;
	color: black;
	cursor: pointer;
}
.scrolltext{
	position: absolute;
	background-color: blue;
	height: 30px;
	width: 100%;
}
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdownitems{
	display: none;
	width:300px;
	height:400px;
	position: absolute;
	z-index: 1;
	background-color: white;
}
.dropdownitems a{
	color: #1a75ff;
	text-decoration: none;
	display: block;
	min-width: 160px;
}
.dropdownitems a:hover{
	background-color: grey;
}
.show{
	display: block;
}
.dot {
  /*cursor: pointer;*/
  height: 15px;
  width: 15px;
  margin: 4px;
  margin-top: 20px;
  background-color:#80aaff;
  border: 2px solid #1a75ff;
  border-radius: 50%;
  display: inline-block;
  /*transition: background-color 0.6s ease;*/
}
.active {
  background-color:#1a75ff;
}

#rcorners1 {
  border-radius: 50px 50px 50px 50px;
  background: #80aaff;
  padding: 20px; 
  }
  
 .product{
 	width: 80%;
 	margin-left: 10%;
 	height: 250px;
 	background-color: ;
 	margin-top: 50px;
 }
 

 .specification{
 	float: left;
 	margin-left: 2.5%;
 	width: 35%;
 	height: 80%;
 	margin-top: 20px;
 	background-color: white;
 	padding-left:20px;
 	padding-bottom:20px;
 	padding-right:20px;
 }

 .price{
 	float: left;
 	margin-left: 2.5%;
 	width: 35%;
 	height: 80%;
 	margin-top: 20px;
 	background-color: white;
 	text-align: center;
 }
 .price label{
 padding-top:7px;
 }